<h1>Músicos</h1>

<mat-toolbar class="list-toolbar">
  <a mat-raised-button color="accent" [routerLink]="['/musico/novo']">
    <mat-icon>add_circle</mat-icon>
    <span class="separador10"></span>
    <span>Novo músico</span>
  </a>
</mat-toolbar>

<table mat-table mat-table-responsive [dataSource]="musicos" class="mat-elevation-z5">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Coluna "nome" -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let musico"> {{musico.nome}} </td>
  </ng-container>

  <!-- Coluna "email" -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let musico"> {{musico.email}} </td>
  </ng-container>

  <!-- Coluna "usuario" -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuário </th>
    <td mat-cell *matCellDef="let musico"> {{musico.usuario}} </td>
  </ng-container>

  <!-- Coluna "senha" -->
  <ng-container matColumnDef="senha">
    <th mat-header-cell *matHeaderCellDef> Senha </th>
    <td mat-cell *matCellDef="let musico"> {{musico.senha}} </td>
  </ng-container>

  <!-- Coluna "data_nascimento" -->
  <ng-container matColumnDef="data_nascimento">
    <th mat-header-cell *matHeaderCellDef> Data Nasc </th>
    <td mat-cell *matCellDef="let musico"> {{musico.data_nascimento | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <!-- Coluna "categoria" -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let musico"> {{musico.categoria.descricao}} </td>
  </ng-container>

  <!-- Coluna "instrumento" -->
  <ng-container matColumnDef="instrumento">
    <th mat-header-cell *matHeaderCellDef> Instrumento </th>
    <td mat-cell *matCellDef="let musico"> {{musico.instrumento.descricao}} </td>
  </ng-container>

  <!-- Coluna "estilo" -->
  <ng-container matColumnDef="estilo">
    <th mat-header-cell *matHeaderCellDef> Estilo </th>
    <td mat-cell *matCellDef="let musico"> {{musico.estilo.descricao}} </td>
  </ng-container>

  <!-- Coluna "outras_habilidades" -->
  <ng-container matColumnDef="outras_habilidades">
    <th mat-header-cell *matHeaderCellDef> Outras Habilidades </th>
    <td mat-cell *matCellDef="let musico"> {{musico.outras_habilidades}} </td>
  </ng-container>

  <!-- Coluna "telefone" -->
  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> Telefone </th>
    <td mat-cell *matCellDef="let musico"> {{musico.telefone}} </td>
  </ng-container>

  <!-- Coluna "celular" -->
  <ng-container matColumnDef="celular">
    <th mat-header-cell *matHeaderCellDef> Celular </th>
    <td mat-cell *matCellDef="let musico"> {{musico.celular}} </td>
  </ng-container>

  <!-- Coluna "outros_contatos" -->
  <ng-container matColumnDef="outros_contatos">
    <th mat-header-cell *matHeaderCellDef> Outros Contatos </th>
    <td mat-cell *matCellDef="let musico"> {{musico.outros_contatos}} </td>
  </ng-container>

  <!-- Coluna "foto_perfil" -->
  <ng-container matColumnDef="foto_perfil">
    <th mat-header-cell *matHeaderCellDef> Foto Perfil </th>
    <td mat-cell *matCellDef="let musico"> {{musico.foto_perfil}} </td>
  </ng-container>

  <!-- Coluna "observacoes" -->
  <ng-container matColumnDef="observacoes">
    <th mat-header-cell *matHeaderCellDef> Observações </th>
    <td mat-cell *matCellDef="let musico"> {{musico.observacoes}} </td>
  </ng-container>

   <!-- Coluna "editar" -->
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let musico">
      <a mat-raised-button [routerLink]="['/musico', musico._id]">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <!-- Coluna "excluir" -->
  <ng-container matColumnDef="excluir">
    <th mat-header-cell *matHeaderCellDef> Excluir </th>
    <td mat-cell *matCellDef="let musico">
      <button mat-raised-button color="warn" (click)="excluir(musico._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

