<h1>{{ titulo }}</h1>

<form #form="ngForm">

  <mat-form-field>
    <mat-label>Descrição</mat-label>
    <input matInput placeholder="Informe a descrição do combustível" required name="descricao" [(ngModel)]="combustivel.descricao" />
  </mat-form-field>

</form>

<mat-toolbar class="form-toolbar">
  <button mat-raised-button color="accent" (click)="salvar()">
    Salvar
  </button>
  <span class="separador20"></span>
  <button mat-raised-button (click)="voltar(form)">
    Voltar
  </button>
</mat-toolbar>